.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    margin-right: 30px;
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

/* #landing {
    background-image: url(./image/landing.jpg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 20% 
}*/
 h2{
    color: rgb(253, 253, 253);
    text-align: center;
    font-size: 50px;
}
/* 
em {
    color: rgb(165, 0, 165);
    font-size: 30px;
} */

.container {
    font-size: 20px;
}

h1 {
    text-align: center;
}

/* #partners,
#phone {
    text-align: center;
} */

#Contact,
#email-section {
    background-color: #CC9900;
}

/* #social{
    text-align: center;
} */
#reach {
    text-align: center;
    color: white;
}

#location {
    text-align: center;
}
#landing{
    background-color:yellowgreen;
    text-align: center;
    text-shadow: #4CAF50;
}
.row{
    align-items: center;
    text-align: center;
}
.social{
    text-align: center;
    justify-content: space-between;
}
/* Add a black background color to the top navigation */
.topnavf {
    background-color: #a4ebf3;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnavf a {
    margin-left: 10cm;
    float: left;
    color: black;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 25px;
}

/* Change the color of links on hover */
.topnavf a:hover {
    background-color: #ddd;
    color: rgb(151, 137, 137);
}

/* Add a color to the active/current link */
.topnavf a.active {
    background-color: #4CAF50;
    color: white;
}
#phone{
    font-family: monospace;
    font-size: 25px;
}
#reach{
    font-size: 25px;
}